<div class="new-session">

<h1>登录您的帐户</h1>

<div class="login-form">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div><%= render 'shared/flash_messages' %></div>

    <div class="form-group">
      <%= f.label :email, "帐号", class:"control-label" %>
      <%= f.text_field :email, placeholder:"用户名或邮箱地址", class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, "密码", class:"control-label" %>
      <%= f.password_field :password, class:'form-control' %>
    </div>


    <%= f.submit "登 录", class: "btn btn-large btn-primary" %>
  <% end %>
  <br>
  <p>还没有注册账户？ <%= link_to "现在注册!", new_user_path %></p>
</div>

</div>
