<div><%= render 'shared/flash_messages' %></div>

<div class="img-upload">
  <h3>上传照片</h3>
  <%= render "shared/flash_error_messages", object: @photo %>
  <div class="form">

    <%= form_for @photo, :html => {:multipart => true} do |f| %>
      <%= f.file_field :photo %><br>
    
      <%= f.label :name, '图片简介' %>:
      <%= f.text_field :name, :class => "form-control" %><br>

      <%= f.submit "上传", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>