<%= render 'shared/flash_messages' %>

<div class="img-detail">
  <div class="img-left">
    <%= image_tag @photo.photo_url(:detail).to_s, class:"img-responsive" %>

    <% if current_user.id == @photo.user_id %>
      <br><br>
      <%= link_to '删除', @photo, class:'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <div class="img-right">

    <div class="buttons">
      <%= render "counts", photo: @photo %>
    </div>

    <div class="comments">
      <%= render @comments %>
    </div>

    <div class="new-comment">
      <%= render 'comments/form', :commentable => @photo %>
    </div>

  </div>
</div>
