<div><%= render 'shared/flash_messages' %></div>

<div align="center" class="img-detail">
  <%= image_tag @photo.photo_url.to_s, class:"img-responsive" %>
  <button id="l-<%="photo#{@photo.id}"%>" class="photo-like" data-type="photo" data-id="<%= @photo.id %>"><%= @is_liked ? 'Unlike' : 'Like' %></button>
  <p id="like-count">Like Count <%= @like_count %></p>

  <% if current_user?(@photo.user) %>
    <br><br>
    <%= link_to '删除', @photo, class:'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>






<script type="text/javascript">
  $(document).ready(function(){
    $(".photo-like").bind("click",function(){
      $.ajax({
        url: '/likes',
        type: 'post',
        data: {type: this.dataset.type, id: this.dataset.id}
      }).done(function(resp){

        $('#l-' + resp.type + resp.id).text(resp.text)
        $('#like-count').text("Like Count " + resp.count)

      });
    });
  });
</script>
